.Inicio{
    background-image: url('../fondo.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 100vh;
    display: block;
}

.Dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


